repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
    - id: check-merge-conflict
    - id: debug-statements
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: requirements-txt-fixer
    - id: check-docstring-first
    - id: check-json
    - id: check-shebang-scripts-are-executable
    - id: check-toml
    - id: check-yaml
    - id: no-commit-to-branch
- repo: https://github.com/asottile/reorder_python_imports
  rev: v3.8.5
  hooks:
  - id: reorder-python-imports
    args: [--py3-plus]
- repo: https://github.com/asottile/pyupgrade
  rev: v3.1.0
  hooks:
  - id: pyupgrade
    args: [--py39-plus]
- repo: https://github.com/asottile/add-trailing-comma
  rev: v2.3.0
  hooks:
  - id: add-trailing-comma
- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v2.1.0
  hooks:
  - id: setup-cfg-fmt
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.982
  hooks:
  - id: mypy
    additional_dependencies: [types-all]
- repo: https://github.com/psf/black
  rev: 22.10.0
  hooks:
  - id: black
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.6.0
  hooks:
    - id: markdownlint-cli2
