{
    "jira_config_path": "{{ JIRA_CONFIG_PATH }}",
    "firewatch_rules_config_path": "{{ FIREWATCH_CONFIG_FILE_PATH }}",
    "firewatch_default_jira_additional_labels": "{{ FIREWATCH_DEFAULT_JIRA_ADDITIONAL_LABELS }}",
    "firewatch_default_jira_project": "{{ FIREWATCH_DEFAULT_JIRA_PROJECT }}",
    "fail_with_test_failures": "{{ FIREWATCH_FAIL_WITH_TEST_FAILURES }}",
    "fail_with_pod_failures": "{{ FIREWATCH_FAIL_WITH_POD_FAILURES }}",
    "JIRA_TRANSITION_MAP": "{{ JIRA_TRANSITION_MAP }}",
    "keep_job_dir": "{{ KEEP_JOB_DIR }}",
    "additional_labels_file": "{{ ADDITIONAL_LABELS_FILE }}"
    "verbose_test_failure_reporting": "{{ VERBOSE_TEST_FAILURE_REPORTING }}",
    "verbose_test_failure_reporting_ticket_limit": "{{ VERBOSE_TEST_FAILURE_REPORTING_TICKET_LIMIT }}"
}
